.LoginForm
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    
}
/* div
{
    background: linear-gradient(#2b1055,#7597);
} */
.LoginForm label
{
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    font-size: 2em;
}
.LoginForm button
{
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 6px 15px;
    border-radius: 20px;
    transition: 0.25s;
    outline: none;
    cursor: pointer;
    border: none;

}
.LoginForm button:hover
{
    background: #fff;
    color: #2b1055;
}
.LoginForm input
{
    background: none;
    border: none;
    color: #fff;
}